<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   
<head th:replace="layout :: head"></head>

<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container" id="main-content">
        <div class="row d-flex justify-content-center">
           <form style="min-width: 300px;" action="#" th:action="@{/trungtam/luu}" th:object="${trungtam}" method="POST" novalidate="novalidate">
    <h5 class="text-center">Mẫu tạo trung tâm</h5>

    <input type="hidden" th:field="*{id}" />

    <div class="form-group">
        <input class="form-control" type="text" placeholder="Nhập ten trung tam"
               th:field="*{tentrungtam}" th:errorclass="field-error" />
        <em th:if="${#fields.hasErrors('tentrungtam')}" th:errors="*{tentrungtam}"></em>
    </div>

   
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Nhập địa chỉ"
               th:field="*{diachitrungtam}" th:errorclass="field-error" />
        <em th:if="${#fields.hasErrors('diachitrungtam')}" th:errors="*{diachitrungtam}"></em>
    </div>

    <div class="form-group">
        <input class="form-control" type="text" placeholder="Nhập số điện thoại"
               th:field="*{sodienthoai}"  />
    </div>
     <div class="form-group">
        <input class="form-control" type="email" placeholder="Nhập email"
               th:field="*{email}" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">
            <i class="fa fa-save"></i> Lưu
        </button>
    </div>
</form>
        </div>
    </div><!-- /.container -->

    <footer th:replace="layout :: footer"></footer>
</body>
</html>